<h3>Header Text</h3>
<article class="content content--dashed container">
  <section class="item-info item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h6 class="typography-headline-6 header-text__title">Headline 6</h6>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h6 class="typography-subtitle-1 header-text__title">Subtitle 1</h6>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--column start item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h6 class="typography-headline-6 header-text__title">Headline 6</h6>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--column start item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h6 class="typography-subtitle-1 header-text__title">Subtitle 1</h6>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--gap-m content">
    <button mat-icon-button aria-label="Example icon close">
      <mat-icon>close</mat-icon>
    </button>
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h6 class="typography-headline-6 header-text__title">Headline 6</h6>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--gap-m content">
    <button mat-icon-button aria-label="Example icon close">
      <mat-icon>close</mat-icon>
    </button>
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h6 class="typography-subtitle-1 header-text__title">Subtitle 1</h6>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h3 class="typography-headline-3 header-text__title">Headline 3</h3>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--column start item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h3 class="typography-headline-3 header-text__title">Headline 3</h3>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </section>
  </section>

  <section class="item-info item-info--gap-m content">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <section class="flex flex--space-between">
      <div class="header-text">
        <span class="typography-overline">OVERLINE</span>
        <h3 class="typography-headline-3 header-text__title">Headline 3</h3>
        <p class="typography-body-2">Body 2</p>
        <div class="item-info item-info--row">
          <mat-icon class="header-text__icon">person</mat-icon>
          <span class="typography-caption">John Doe</span>
        </div>
      </div>
      <div class="header-text__but-icon">
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon share">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </section>
  </section>

</article>


