<h3 class="typography-headline-3">Typography</h3>

<p class="notes">Note: The font size is indicated by a minimum and maximum inside the attribute <span class="code">font-size : clamp(min-value, vw, max-value);</span>
  If you want to know the minimum or maximum size of the font, multiply the content in rem by 16 and it will give you the amount in pixels</p>

<section class="grid">
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Headline-1 </h5>
     <h1 class="typography-headline-1">typography-headline-1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</h1>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Headline-2 </h5>
     <h2 class="typography-headline-2">typography-headline-2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</h2>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Headline-3 </h5>
     <h3 class="typography-headline-3">typography-headline-3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</h3>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Headline-4 </h5>
     <h4 class="typography-headline-4">typography-headline-4: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</h4>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Headline-5 </h5>
     <h5 class="typography-headline-5">typography-headline-5: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</h5>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Headline-6 </h5>
     <h6 class="typography-headline-6">typography-headline-6: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</h6>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Subtitle-1 </h5>
     <p class="typography-subtitle-1">typography-subtitle-1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Subtitle-2 </h5>
     <p class="typography-subtitle-2">typography-subtitle-2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Body-1 </h5>
     <p class="typography-body-1">typography-body-1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Body-2 </h5>
     <p class="typography-body-2">typography-body-2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Button </h5>
     <p class="typography-button">typography-button: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Caption </h5>
     <p class="typography-caption">typography-caption: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>
   <div class="content content--dashed">
     <h5 class="typography-headline-5 label-row"> Overline </h5>
     <p class="typography-overline">typography-overline: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...</p>
   </div>

 </section>
