<h2>Elements</h2>

<section class="grid grid--auto-column-xl">
  <div>
    <app-avatar></app-avatar>
    <app-scroll-bar></app-scroll-bar>
  </div>
  <div>
    <app-buttons-group></app-buttons-group>
    <app-building-block></app-building-block>
  </div>
  <app-divider></app-divider>
  <div class="colspan-3">
    <app-images></app-images>
  </div>
</section>

<section class="grid grid--auto-column-xxl">
  <app-link></app-link>
  <app-header-text></app-header-text>
  <app-header-image></app-header-image>
</section>
