@use "sass:map";
@use "sass:meta";

@mixin flex() {
  display: flex;
}

@mixin theme($theme) {
  $flex-config: map.get($theme, flexbox-layout);

  --gap-space-1: #{map.get($flex-config, gap)};
  --gap-space-2: #{map.get($flex-config, gap-2)};

  .flex {
    @include flex;
    justify-content: flex-start;
    gap: var(--gap-space-2);
    align-items: center;

    &--wrap {
      flex-wrap: wrap;
    }
    &--end {
      justify-content: flex-end;
    }
    &--start {
      justify-content: flex-start;
      & .push-end {
        margin-left: auto;
      }
    }
    &--align-start {
      align-items: flex-start;
    }
    &--space-between {
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
    &--center {
      flex-direction: column;
      justify-content: center;
      button {
        width: 100%;
      }
    }
  }

  .item-info {
    @include flex();
    align-items: center;
    gap: var(--gap-space-1);
    width: 100%;

    & * {
      margin: 0;
    }
    &--column {
      flex-direction: column;
      &.start {
        align-items: flex-start;
      }
    }
    &--row {
      flex-direction: row;
    }
    &--gap-m {
      gap: var(--gap-space-2);
    }
  }
}
