@use "sass:map";

$default-overlay-opacity: 0.8;
$transparent: transparent;

@function unthemed($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: unthemed,
    color: map.get($tokens, on-surface-high-emphasis),
    background-color: $transparent,
    border-radius: map.get($tokens,border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,


    hover: (
      overlay-color: map.get($tokens, states-black-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-black-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: $default-overlay-opacity
    ),
    pressed: (
      overlay-color: map.get($tokens, states-black-overlay-pressed),
    )
  );
}

@function primary($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: primary,
    color: map.get($tokens, primary-variant2),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-primary-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-primary-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-primary-overlay-pressed),
    )
  );
}

@function accent($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: accent,
    color: map.get($tokens, secondary),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-secondary-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-secondary-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-secondary-overlay-pressed),
    )
  );
}

@function success($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: success,
    color: map.get($tokens, success-700),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-success-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-success-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-success-overlay-pressed),
    )
  );
}

@function info($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: info,
    color: map.get($tokens, info-700),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-info-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-info-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-info-overlay-pressed),
    )
  );
}

@function warn($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: warn,
    color: map.get($tokens, warning-700),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-warn-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-warn-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-warn-overlay-pressed),
    )
  );
}

@function error($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: error,
    color: map.get($tokens, error),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-error-overlay-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-error-overlay-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-error-overlay-pressed),
    )
  );
}

@function primary-inv($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: primary-inv,
    color: map.get($tokens, primary-inverted),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-primary-overlay-inversed-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-primary-overlay-inversed-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-primary-overlay-inversed-pressed),
    )
  );
}

@function accent-inv($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: accent-inv,
    color: map.get($tokens, secondary-inverted),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-secondary-overlay-inverse-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-secondary-overlay-inverse-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-secondary-overlay-inverse-pressed),
    )
  );
}



@function error-inv($tokens) {
  $spacing-ref-2-x-small: map.get($tokens, spacing-ref-2-x-small)+px; /*16px*/
  $spacing-ref-small: map.get($tokens, spacing-ref-small)+px; /*12px*/
  $spacing-ref-medium: map.get($tokens, spacing-ref-medium)+px; /*8px*/

  @return (
    type: basic,
    theme: error-inv,
    color: map.get($tokens, error-inverted),
    background-color: $transparent,
    border-radius: map.get($tokens, border-radius-sys-buttons)+px,
    icon-text-gap: map.get($tokens, spacing-ref-2-x-small)+px,
    icon-margin: map.get($tokens, spacing-ref-2-x-small)+px,
    padding-icon-text-icon: $spacing-ref-2-x-small $spacing-ref-medium,
    padding-icon-text: $spacing-ref-2-x-small $spacing-ref-medium $spacing-ref-2-x-small $spacing-ref-small,
    padding-text-icon: $spacing-ref-2-x-small $spacing-ref-small $spacing-ref-2-x-small $spacing-ref-medium,
    button-padding: $spacing-ref-2-x-small $spacing-ref-medium,

    hover: (
      overlay-color: map.get($tokens, states-error-overlay-inverse-hover),
      overlay-opacity: $default-overlay-opacity
    ),
    focus: (
      overlay-color: map.get($tokens, states-error-overlay-inverse-focused),
      overlay-opacity: $default-overlay-opacity
    ),
    disabled: (
      color: map.get($tokens, on-surface-disabled),
      background-color: $transparent,
      overlay-color: var(--sw-surface, map.get($tokens, surface)),
      overlay-opacity: 0
    ),
    pressed: (
      overlay-color: map.get($tokens, states-error-overlay-inverse-pressed),
    )
  );
}

