@use "sass:map";
@use "sass:color";

@function unthemed($tokens) {
  $gap: map.get($tokens, spacing-ref-medium)+px;
  $padding: map.get($tokens, spacing-ref-medium)+px;
  $padding-small: map.get($tokens, spacing-ref-2-x-small)+px;
  $item-size: map.get($tokens, spacing-ref-2-x-small)*7+px;
  $hover-color: map.get($tokens, states-on-surface-overlay-hover);
  $focus-color: map.get($tokens, states-on-surface-overlay-pressed);

  @return (
    item-padding: $padding,
    item-padding-small: $padding-small,
    gap-space: $gap,
    item-size: $item-size,
    hover-color: $hover-color,
    focus-color: $focus-color,
  );
}
