@use "sass:map";
@use "sass:color";

@function unthemed($tokens) {
  $menu-bg: map.get($tokens, neutral-25);
  $item-padding: map.get($tokens, spacing-ref-medium)+px;
  $icon-width: map.get($tokens, spacing-ref-x-large)+px;
  $color: map.get($tokens, on-surface-high-emphasis);
  $box-shadow-color: map.get($tokens, dp-03-0-color);
  $box-shadow-x: map.get($tokens, dp-03-0-x)+px;
  $box-shadow-y: map.get($tokens, dp-03-0-y)+px;
  $box-shadow-blur: map.get($tokens, dp-03-0-blur)+px;
  $box-shadow-spread: map.get($tokens, dp-03-0-spread)+px;
  $box-shadow: $box-shadow-x $box-shadow-y $box-shadow-blur $box-shadow-spread $box-shadow-color;

  @return (
    menu-bg: $menu-bg,
    menu-item-padding: $item-padding,
    icon-min-width: $icon-width,
    color: $color,
    bs-color: $box-shadow-color,
    bs-x: $box-shadow-x,
    bs-y: $box-shadow-y,
    bs-blur: $box-shadow-blur,
    bs-spread: $box-shadow-spread,
    box-shadow: $box-shadow,
  );
}
