<h3>Images</h3>
<article class="flex flex--wrap flex--start content content--dashed">
  <img src="assets/png/img.small.png" class="image" alt="Avatar Photo">
  <img src="assets/png/img.small.png" class="image image--disabled" alt="Avatar Photo">
  <div class="overlay">
    <img src="assets/png/img.small.png" class="image" alt="Avatar Photo">
  </div>
  <div class="overlay">
    <img src="assets/png/img-regular.png" class="image" alt="Avatar Photo">
  </div>
  <div class="overlay overlay--dark">
    <img src="assets/png/img-regular.png" class="image" alt="Avatar Photo">
  </div>
</article>
