<h3>
  Radio-Button Styles
</h3>
<section class="grid grid--1-1">

  <mat-radio-group class="grid grid--auto-column-m" aria-label="Select an option">
    <mat-radio-button value="1" class="sw-mat-primary">Primary 1</mat-radio-button>
    <mat-radio-button value="2" class="sw-mat-primary">Primary 2</mat-radio-button>
    <mat-radio-button value="3" [checked]="true"  class="sw-mat-primary">Primary 3</mat-radio-button>
  </mat-radio-group>
  <mat-radio-group class="grid grid--auto-column-m" aria-label="Select an option">
    <mat-radio-button value="1" [disabled]="true" class="sw-mat-primary">Primary disabled & unchecked</mat-radio-button>
    <mat-radio-button value="2" [checked]="true" [disabled]="true" class="sw-mat-primary">Primary disabled & checked
    </mat-radio-button>
  </mat-radio-group>

  <mat-radio-group class="grid grid--auto-column-m" aria-label="Select an option">
    <mat-radio-button value="1" class="sw-mat-accent">Accent 1</mat-radio-button>
    <mat-radio-button value="2" class="sw-mat-accent">Accent 2</mat-radio-button>
    <mat-radio-button value="3" [checked]="true"  class="sw-mat-accent">Accent 3</mat-radio-button>
  </mat-radio-group>
  <mat-radio-group class="grid grid--auto-column-m" aria-label="Select an option">
    <mat-radio-button value="1" [disabled]="true" class="sw-mat-accent">Accent disabled & unchecked</mat-radio-button>
    <mat-radio-button value="2" [checked]="true" [disabled]="true" class="sw-mat-accent">Accent disabled & checked
    </mat-radio-button>
  </mat-radio-group>

  <mat-radio-group class="grid grid--auto-column-m" aria-label="Select an option">
    <mat-radio-button value="1" class="sw-mat-error">Error 1</mat-radio-button>
    <mat-radio-button value="2" class="sw-mat-error">Error 2</mat-radio-button>
    <mat-radio-button value="3" [checked]="true"  class="sw-mat-error">Error 3</mat-radio-button>
  </mat-radio-group>
  <mat-radio-group class="grid grid--auto-column-m" aria-label="Select an option">
    <mat-radio-button value="1" [disabled]="true" class="sw-mat-error">Error disabled & unchecked</mat-radio-button>
    <mat-radio-button value="2" [checked]="true" [disabled]="true" class="sw-mat-error">Error disabled & checked
    </mat-radio-button>
  </mat-radio-group>
</section>


