<section>
  <h3 class="label-row">Basic</h3>
  <div class="flex flex--wrap">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="success">Success</button>
      <button mat-button color="info">Info</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button color="error">Error</button>
      <button mat-button disabled>Disabled</button>
    <div class="surface-inverted">
      <button mat-button color="primary-inv">Primary-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-button color="accent-inv">Accent-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-button color="error-inv">Error-inv</button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Raised</h3>
  <div class="flex flex--wrap">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="success">Success</button>
      <button mat-raised-button color="info">Info</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button color="error">Error</button>
      <button mat-raised-button disabled>Disabled</button>
    <div class="surface-inverted">
      <button mat-raised-button color="primary-inv">Primary-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-raised-button color="accent-inv">Accent-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-raised-button color="error-inv">Error-inv</button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Stroked</h3>
  <div class="flex flex--wrap">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="success">Success</button>
      <button mat-stroked-button color="info">Info</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button color="error">Error</button>
      <button mat-stroked-button disabled>Disabled</button>
    <div class="surface-inverted">
      <button mat-stroked-button color="primary-inv">Primary-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-stroked-button color="accent-inv">Accent-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-stroked-button color="error-inv">Error-inv</button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Flat</h3>
  <div class="flex flex--wrap">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="success">Success</button>
      <button mat-flat-button color="info">Info</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button color="error">Error</button>
      <button mat-flat-button disabled>Disabled</button>
    <div class="surface-inverted">
      <button mat-flat-button color="primary-inv">Primary-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-flat-button color="accent-inv">Accent-inv</button>
    </div>
    <div class="surface-inverted">
      <button mat-flat-button color="error-inv">Accent-inv</button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Icon</h3>
  <div class="flex flex--wrap">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="success" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="info" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="error" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>home</mat-icon>
      </button>
    <div class="surface-inverted">
      <button mat-icon-button color="primary-inv" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-icon-button color="accent-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-icon-button color="error-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Mini Icon</h3>
  <div class="flex flex--wrap">
      <button  mat-icon-button class="mat-mdc-icon-button--mini" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="success" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="info" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="error" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini" disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>home</mat-icon>
      </button>
    <div class="surface-inverted">
      <button mat-icon-button class="mat-mdc-icon-button--mini" color="primary-inv" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="accent-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button  mat-icon-button class="mat-mdc-icon-button--mini" color="error-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Icon Toggle</h3>
  <div class="flex flex--wrap">
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="success" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="info" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="error" aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>home</mat-icon>
      </button>
    <div class="surface-inverted">
      <button mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="primary-inv" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="accent-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button  mat-icon-button class="mat-mdc-icon-button--mini toggle-bg" color="error-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">FAB</h3>
  <div class="flex flex--wrap">
      <button mat-fab color="unthemed" class="mat-unthemed" aria-label="Example icon button with a delete icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="success" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="info" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="error" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab disabled aria-label="Example icon button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
    <div class="surface-inverted">
      <button mat-fab color="primary-inv" aria-label="Example icon button with a delete icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-fab color="accent-inv" aria-label="Example icon button with a bookmark icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-fab color="error-inv" aria-label="Example icon button with a bookmark icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Mini FAB</h3>
  <div class="flex flex--wrap">
      <button mat-mini-fab color="unthemed" class="mat-unthemed" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="info" aria-label="Example icon button with a filter list icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="error" aria-label="Example icon button with a filter list icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    <div class="surface-inverted">
      <button mat-mini-fab color="primary-inv" aria-label="Example icon button with a menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-mini-fab color="accent-inv" aria-label="Example icon button with a plus one icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-mini-fab color="error-inv" aria-label="Example icon button with a plus one icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Ext. FAB</h3>
  <div class="flex flex--wrap">
      <button mat-raised-button aria-label="Example icon button with a delete icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Basic
          </span>
        </section>
      </button>
      <button mat-raised-button color="primary" aria-label="Example icon button with a delete icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Primary
          </span>
        </section>
      </button>
      <button mat-raised-button color="accent" aria-label="Example icon button with a bookmark icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Accent
          </span>
        </section>
      </button>
      <button mat-raised-button color="success" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Success
          </span>
        </section>
      </button>
      <button mat-raised-button color="info" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Info
          </span>
        </section>
      </button>
      <button mat-raised-button color="warn" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Warn
          </span>
        </section>
      </button>
      <button mat-raised-button color="error" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Error
          </span>
        </section>
      </button>
      <button mat-raised-button disabled aria-label="Example icon button with a heart icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
            Disabled
          </span>
        </section>
      </button>
      <div class="surface-inverted">
        <button mat-raised-button color="primary-inv" aria-label="Example icon button with a delete icon">
          <section class="disposition disposition--icon-text">
            <mat-icon>home</mat-icon>
            <span>
            Primary-Inv
            </span>
          </section>
        </button>
      </div>
      <div class="surface-inverted">
        <button mat-raised-button color="accent-inv" aria-label="Example icon button with a bookmark icon">
          <section class="disposition disposition--icon-text">
            <mat-icon>home</mat-icon>
            <span>
             Accent-Inv
            </span>
          </section>
        </button>
      </div>
    <div class="surface-inverted">
      <button mat-raised-button color="error-inv" aria-label="Example icon button with a bookmark icon">
        <section class="disposition disposition--icon-text">
          <mat-icon>home</mat-icon>
          <span>
             Error-Inv
            </span>
        </section>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Icon + Text + Icon</h3>
  <div class="flex flex--wrap">
      <button mat-button aria-label="Example icon button with a delete icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Basic</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button color="primary" aria-label="Example icon button with a delete icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Primary</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button color="accent" aria-label="Example icon button with a bookmark icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Accent</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button color="success" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Success</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button color="info" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Info</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button color="warn" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Warn</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button color="error" aria-label="Example icon button with a home icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Error</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <button mat-button disabled aria-label="Example icon button with a heart icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Disabled</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
      <div class="surface-inverted">
        <button mat-button color="primary-inv" aria-label="Example icon button with a delete icon">
          <section class="disposition disposition--icon-text-icon">
            <mat-icon>home</mat-icon>
            <span>Primary-inv</span>
            <mat-icon>home</mat-icon>
          </section>
        </button>
      </div>
      <div class="surface-inverted">
        <button mat-button color="accent-inv" aria-label="Example icon button with a bookmark icon">
          <section class="disposition disposition--icon-text-icon">
            <mat-icon>home</mat-icon>
            <span>Accent-inv</span>
            <mat-icon>home</mat-icon>
          </section>
        </button>
      </div>
    <div class="surface-inverted">
      <button mat-button color="error-inv" aria-label="Example icon button with a bookmark icon">
        <section class="disposition disposition--icon-text-icon">
          <mat-icon>home</mat-icon>
          <span>Error-inv</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3 class="label-row">Text + Icon</h3>
  <div class="flex flex--wrap">
    <button mat-stroked-button aria-label="Example icon button with a delete icon">
      <section class="disposition disposition--text-icon">
        <span>Basic</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
      <section class="disposition disposition--text-icon">
        <span>Primary</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button color="accent" aria-label="Example icon button with a bookmark icon">
      <section class="disposition disposition--text-icon">
        <span>Accent</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button color="success" aria-label="Example icon button with a home icon">
      <section class="disposition disposition--text-icon">
        <span>Success</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button color="info" aria-label="Example icon button with a home icon">
      <section class="disposition disposition--text-icon">
        <span>Info</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button color="warn" aria-label="Example icon button with a home icon">
      <section class="disposition disposition--text-icon">
        <span>Warn</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button color="error" aria-label="Example icon button with a home icon">
      <section class="disposition disposition--text-icon">
        <span>Error</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <button mat-stroked-button disabled aria-label="Example icon button with a heart icon">
      <section class="disposition disposition--text-icon">
        <span>Disabled</span>
        <mat-icon>home</mat-icon>
      </section>
    </button>
    <div class="surface-inverted">
      <button mat-stroked-button color="primary-inv" aria-label="Example icon button with a delete icon">
        <section class="disposition disposition--text-icon">
          <span>Primary-inv</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-stroked-button color="accent-inv" aria-label="Example icon button with a bookmark icon">
        <section class="disposition disposition--text-icon">
          <span>Accent-inv</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
    </div>
    <div class="surface-inverted">
      <button mat-stroked-button color="error-inv" aria-label="Example icon button with a bookmark icon">
        <section class="disposition disposition--text-icon">
          <span>Error-inv</span>
          <mat-icon>home</mat-icon>
        </section>
      </button>
    </div>
  </div>
</section>
