<h3>Building-block</h3>

<section class="content content--dashed grid grid--auto-column-s">
  <div class="item-info item-info--column">
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <span>Action</span>
  </div>
  <div class="item-info item-info--column">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <span>John Doe</span>
  </div>
  <div class="item-info item-info--row">
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <span>Action</span>
  </div>

</section>
