<h3>Avatar</h3>

<article class="content content--dashed">
  <section class="grid grid--auto-column-xs">
    <div class="avatar-letter">A</div>
    <div class="avatar-letter avatar-letter--block">A</div>
  </section>
  <section class="grid grid--auto-column-xs">
    <img class="avatar-photo" src="assets/png/img.small.png" alt="Avatar Photo">
    <img class="avatar-photo avatar-photo--block" src="assets/png/img.small.png" alt="Avatar Block">
    <img class="avatar-photo avatar-photo--disabled" src="assets/png/img.small.png" alt="Avatar Disabled">
  </section>
</article>

