<h3>
  Slide-toggle Styles
</h3>
<section class="grid grid--auto-column-m">
  <mat-slide-toggle class="sw-mat-primary">Slide primary</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-primary" [checked]="true">Slide primary</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-primary" [checked]="true" [disabled]="true">Slide primary</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-primary" [disabled]="true">Slide primary</mat-slide-toggle>
</section>

<section class="grid grid--auto-column-m">
  <mat-slide-toggle class="sw-mat-accent">Slide accent</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-accent" [checked]="true">Slide accent</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-accent" [checked]="true" [disabled]="true">Slide accent</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-accent" [disabled]="true">Slide accent</mat-slide-toggle>
</section>

<section class="grid grid--auto-column-m">
  <mat-slide-toggle class="sw-mat-error">Slide error</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-error" [checked]="true">Slide error</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-error" [checked]="true" [disabled]="true">Slide error</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-error" [disabled]="true">Slide error</mat-slide-toggle>
</section>

<section class="grid grid--auto-column-m">
  <mat-slide-toggle class="sw-mat-unthemed">Slide unthemed</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-unthemed" [checked]="true">Slide unthemed</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-unthemed" [checked]="true" [disabled]="true">Slide unthemed</mat-slide-toggle>
  <mat-slide-toggle class="sw-mat-unthemed" [disabled]="true">Slide unthemed</mat-slide-toggle>
</section>
