<h3>Buttons Group</h3>
<section class="content content--dashed grid">
  <div class="flex flex--end">
    <button mat-flat-button>Action Right 1</button>
    <button mat-flat-button>Action Right 2</button>
  </div>
  <div class="flex flex--start">
    <button mat-flat-button>Action Left 1</button>
    <button mat-flat-button>Action Left 2</button>
    <button class="push-end" mat-icon-button aria-label="Example share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button aria-label="Favorite icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="flex flex--center">
    <button mat-flat-button>Vertical Button 1</button>
    <button mat-flat-button>Vertical Button 2</button>
  </div>
</section>
