<h3>
  Checkbox Styles
</h3>

<section class="grid grid--auto-column-m">
  <mat-checkbox class="sw-mat-primary">Primary unchecked</mat-checkbox>
  <mat-checkbox class="sw-mat-primary" [checked]="true">Primary checked</mat-checkbox>
  <mat-checkbox class="sw-mat-primary required" [checked]="true">Primary required</mat-checkbox>
  <mat-checkbox class="sw-mat-primary" [checked]="true" [indeterminate]="true">Primary indeterminate & checked</mat-checkbox>
  <mat-checkbox class="sw-mat-primary" [disabled]="true">Primary disabled & unchecked</mat-checkbox>
  <mat-checkbox class="sw-mat-primary required" [disabled]="true" [checked]="true">Primary disabled & checked</mat-checkbox>
  <mat-checkbox class="sw-mat-primary" [disabled]="true" [checked]="true" [indeterminate]="true">Primary disabled & checked & indeterminate</mat-checkbox>
</section>
<section class="grid grid--auto-column-m">
  <mat-checkbox class="sw-mat-accent">Accent unchecked</mat-checkbox>
  <mat-checkbox class="sw-mat-accent" [checked]="true">Accent checked</mat-checkbox>
  <mat-checkbox class="sw-mat-accent required" [checked]="true">Accent required</mat-checkbox>
  <mat-checkbox class="sw-mat-accent" [checked]="true" [indeterminate]="true">Accent indeterminate & checked</mat-checkbox>
  <mat-checkbox class="sw-mat-accent" [disabled]="true">Accent disabled & unchecked</mat-checkbox>
  <mat-checkbox class="sw-mat-accent required" [disabled]="true" [checked]="true">Accent disabled & checked</mat-checkbox>
  <mat-checkbox class="sw-mat-accent" [disabled]="true" [checked]="true" [indeterminate]="true">Accent disabled & checked & indeterminate</mat-checkbox>
</section>
<section class="grid grid--auto-column-m">
  <mat-checkbox class="sw-mat-error">Error unchecked</mat-checkbox>
  <mat-checkbox class="sw-mat-error" [checked]="true">Error checked</mat-checkbox>
  <mat-checkbox class="sw-mat-error required" [checked]="true">Error required</mat-checkbox>
  <mat-checkbox class="sw-mat-error" [checked]="true" [indeterminate]="true">Error indeterminate & checked</mat-checkbox>
  <mat-checkbox class="sw-mat-error" [disabled]="true">Error disabled & unchecked</mat-checkbox>
  <mat-checkbox class="sw-mat-error required" [disabled]="true" [checked]="true">Error disabled & checked</mat-checkbox>
  <mat-checkbox class="sw-mat-error" [disabled]="true" [checked]="true" [indeterminate]="true">Error disabled & checked & indeterminate</mat-checkbox>
</section>





